:root{
  --mainBlue:#66ffc2;
  --mainWhite:#f3f3f3;
  --mainDark:#232528;
  --mainYellow:#ffa400;
  --mainGreen:#70aa5e;
  --lightGreen:#6ddc6d;
}

body {
  font-family: 'Oswald', sans-serif !important;
  background: var(--mainWhite) !important; 
  color: var(--mainDark) !important;
}

.test-title {
  font-family: "Permanent Marker", cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue {
  color: var(--mainBlue);
}

ul {
  list-style-type: none;
}